/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change-theme {
  position: absolute;
  top: 3.5rem;
  right: 0;
  font-size: 1.6rem;
  color: var(--title-color);
  cursor: pointer;
  transition: .3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .button__gray {
  background-color: var(--container-color);
}

.dark-theme .button__gray:hover {
  background-color: hsl(var(--hue), 24%, 16%);
}

.dark-theme .btn span{
  background-color: var(--text-color);
}

.dark-theme .btn.active .top{
  background-color: var(--text-color);
}

.dark-theme .btn.active .bottom{
  background-color: var(--text-color);
}
.dark-theme .nav-bar li{
  color: var(--text-color);
}

.dark-theme .filters__content {
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 32%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/*=============== PROFILE ===============*/
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 99%;
  height: 99%;
  background: url(../img/perfil.png) center no-repeat;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.profile__perfil:hover {
  width: 96%;
  height: 96%;
  transition: all 1s ease;
  background: url(../img/logo_rb.png) center no-repeat;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

.profile__perfil img {
  width: 120px;
}

.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-top: 2rem;
  margin-bottom: .75rem;
}

.profile__name {
  font-size: var(--h2-font-size);
}

.profile__profession {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.profile__text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.profile__social-link {
  font-size: 2.5rem;
  color: var(--title-color);
  transition: .3s;
  transition: transform 300ms ease-out;
}

.profile__social-link:hover {
  color: var(--first-color);
  transform: rotate(14deg) translate(0px, 0px);
}

.profile__info {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group {
  text-align: center;
}

.profile__info-number {
  font-size: var(--normal-font-size);
  margin-bottom: .25rem;
}

.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.profile__buttons, 
.profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons {
  column-gap: 1rem;
}

.profile__buttons-small {
  column-gap: 1rem;
}


/*=============== BUTTONS ===============*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: #fff;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.button i {
  font-size: 2.5rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__small {
  padding: .7rem;
  box-shadow: none;
}

.button__small:hover {
  padding: .7rem;
  box-shadow: none;
  color: #1ec904;
}

.button__small2 {
  padding: .7rem;
  box-shadow: none;
}

.button__small2:hover {
  padding: .7rem;
  box-shadow: none;
  color: #0373fc;
}

.button__gray {
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button__gray:hover {
  background-color: var(--text-color-light);
}

/*=============== FILTERS TABS===============*/
.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: .375rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}

.filters__button:hover {
  background-color: var(--body-color);
}

/*=============== PROJECTS ===============*/
.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects__card img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg, 
              hsla(var(--hue), 24%, 40%, .3) 0%, 
              hsla(var(--hue), 24%, 4%, 1) 95%);
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: .3s;
}

.projects__subtitle, 
.projects__title {
  color: #fff;
}

.projects__subtitle {
  font-size: var(--smaller-font-size);
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.projects__button {
  padding: .5rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

/*=============== SKILLS ===============*/
.skills__content {
  row-gap: 3.5rem;
}

.skills__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: .5rem;
}

.skills__data i {
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
}

.skills__level {
  font-size: var(--smaller-font-size);
}

/* Hide and show projects & skills */
.filters [data-content] {
  display: none;
}

.filters__active[data-content] {
  display: grid;
}

/* Activate button filter */
.filter-tab-active {
  background-color: var(--body-color);
}

/*=============== FOOTER ===============*/
.footer__copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 54%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}



.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  overflow: hidden;
}


/*********************  MENU HAMBURGUESA *****************************/


.hidden {
  display: none;
}

.nav-bar {
  width: 550px;
  height: 60px;
  top: 45px;
  right: 230px;
  position: absolute;
  background: transparent;
  padding-top: 6px;
}

.nab-bar ul {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #444;
}

.nav-bar li:nth-child(1) {
  margin-left: 0;
}

.btn {
  position: absolute;
  top: 50px;
  right: 100px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .15s ease;
}

.btn span {
  background: #444;
  border: none;
  height: 5px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .15s ease;
  cursor: pointer;
}

.btn .middle {
  top: 11px;
}

.btn .bottom {
  top: 22px;
}

.btn.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #444;
}

.btn.active .middle {
  opacity: 0;
  background: #444;
}

.btn.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #444;
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }


  /**************** MENU HASTA 320 ******************/
  
  
  .nav-bar {
    width: 259px;
    height: 60px;
    top: 10px;
    right: 19px;
    position: absolute;
    background: transparent;
    padding-top: 6px;
  }
  
  .nab-bar ul {
    list-style: none;
  }
  
  .nav-bar li {
    display: inline-block;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
  }
  
  .nav-bar li:nth-child(1) {
    margin-left: 0;
  }
  
  .btn {
    position: absolute;
    top: 30px;
    right: 20px;
    height: 13px;
    width: 25px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .15s ease;
  }
  
  .btn span {
    background: #444;
    border: none;
    height: 5px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .15s ease;
    cursor: pointer;
  }
  
  .btn .middle {
    top: 11px;
  }
  
  .btn .bottom {
    top: 22px;
  }
  
  .btn.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #444;
  }
  
  .btn.active .middle {
    opacity: 0;
    background: #444;
  }
  
  .btn.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #444;
  }

/*************** TERMINA MENU HAMBURGUESA  *****************/


  .profile__info {
    column-gap: 1.5rem;
  }
  .profile__buttons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills__box {
    column-gap: 1rem;
  }
}




/* For small devices */
@media screen and (min-width: 400px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }


  /**************** MENU 400 ******************/
  .change-theme {
    position: absolute;
    top: 3.5rem;
    right: -55px;
    font-size: 1.6rem;
    color: var(--title-color);
    cursor: pointer;
    transition: .3s;
  }
  
  .nav-bar {
    width: 261px;
    height: 64px;
    top: 19px;
    right: 55px;
    position: absolute;
    background: transparent;
    padding-top: 6px;
  }
  
  .nab-bar ul {
    list-style: none;
  }
  
  .nav-bar li {
    display: inline-block;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
  }
  
  .nav-bar li:nth-child(1) {
    margin-left: 0;
  }
  
  .btn {
    position: absolute;
    top: 30px;
    right: 0px;
    height: 13px;
    width: 25px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .15s ease;
  }
  
  .btn span {
    background: #444;
    border: none;
    height: 5px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .15s ease;
    cursor: pointer;
  }
  
  .btn .middle {
    top: 11px;
  }
  
  .btn .bottom {
    top: 22px;
  }
  
  .btn.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #444;
  }
  
  .btn.active .middle {
    opacity: 0;
    background: #444;
  }
  
  .btn.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #444;
  }

/*************** TERMINA MENU HAMBURGUESA  *****************/


  .profile__info {
    column-gap: 1.5rem;
  }
  .profile__buttons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills__box {
    column-gap: 1rem;
  }
}




/* For medium devices */
@media screen and (min-width: 517px) {
  .projects__content {
    grid-template-columns: 517px;
    justify-content: center;
  }

  .filters__content {
    width: 517px;
    margin: 3rem auto;
  }


 /**************** MENU 517 ******************/
  
 .change-theme {
  position: absolute;
  top: 3.5rem;
  right: 0px;
  font-size: 1.6rem;
  color: var(--title-color);
  cursor: pointer;
  transition: .3s;
}

 .nav-bar {
  width: 445px;
  height: 60px;
  top: 24px;
  right: 19px;
  position: absolute;
  background: transparent;
  padding-top: 6px;
}

.nab-bar ul {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #444;
}

.nav-bar li:nth-child(1) {
  margin-left: 0;
}

.btn {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 13px;
  width: 25px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .15s ease;
}

.btn span {
  background: #444;
  border: none;
  height: 5px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .15s ease;
  cursor: pointer;
}

.btn .middle {
  top: 11px;
}

.btn .bottom {
  top: 22px;
}

.btn.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #444;
}

.btn.active .middle {
  opacity: 0;
  background: #444;
}

.btn.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #444;
}

/*************** TERMINA MENU HAMBURGUESA  *****************/

}




@media screen and (min-width: 776px) {
  .projects__content,
  .skills__content {
    grid-template-columns: repeat(2, 332px);
  }

  .skills__content {
    justify-content: center;
    column-gap: 3rem;
  }




/* For medium devices */
@media screen and (min-width: 517px) {
  .projects__content {
    
    justify-content: center;
  }

  .filters__content {
    width: 332px;
    margin: 3rem auto;
  }


 /**************** MENU 517 ******************/
  
 .change-theme {
  position: absolute;
  top: 3.5rem;
  right: 130px;
  font-size: 1.6rem;
  color: var(--title-color);
  cursor: pointer;
  transition: .3s;
}

 .nav-bar {
  width: 565px;
  height: 60px;
  top: 24px;
  right: 19px;
  position: absolute;
  background: transparent;
  padding-top: 6px;
}

.nab-bar ul {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #444;
}

.nav-bar li:nth-child(1) {
  margin-left: 0;
}

.btn {
  position: absolute;
  top: 30px;
  right: 150px;
  height: 13px;
  width: 25px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .15s ease;
}

.btn span {
  background: #444;
  border: none;
  height: 5px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .15s ease;
  cursor: pointer;
}

.btn .middle {
  top: 11px;
}

.btn .bottom {
  top: 22px;
}

.btn.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #444;
}

.btn.active .middle {
  opacity: 0;
  background: #444;
}

.btn.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #444;
}

/*************** TERMINA MENU HAMBURGUESA  *****************/

}





}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }



  .hidden {
    display: none;
  }
  
  .nav-bar {
    width: 550px;
    height: 60px;
    top: 45px;
    right: 230px;
    position: absolute;
    background: transparent;
    padding-top: 6px;
  }
  
  .nab-bar ul {
    list-style: none;
  }
  
  .nav-bar li {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
  }
  
  .nav-bar li:nth-child(1) {
    margin-left: 0;
  }
  
  .btn {
    position: absolute;
    top: 50px;
    right: 100px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .15s ease;
  }
  
  .btn span {
    background: #444;
    border: none;
    height: 5px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .15s ease;
    cursor: pointer;
  }
  
  .btn .middle {
    top: 11px;
  }
  
  .btn .bottom {
    top: 22px;
  }
  
  .btn.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #444;
  }
  
  .btn.active .middle {
    opacity: 0;
    background: #444;
  }
  
  .btn.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #444;
  }



  .change-theme {
    top: 0.5rem;
    right: -3.5rem;
  }

  .profile {
    padding-top: 8rem;
  }
  .profile__border {
    width: 320px;
    height: 320px;
    margin-bottom: 1rem;
  }
  .profile__perfil {
    width: 300px;
    height: 300px;
  }
  .profile__perfil img {
    width: 250px;
  }
  .profile__name {
    font-size: 2.5rem;
  }
  .profile__profession {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .profile__text {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
  }
  .profile__social {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
  }
  .profile__social-link {
    font-size:4rem;
    color: var(--title-color);
    transition: .3s;
  }
  .profile__info {
    column-gap: 3rem;
  }
  .profile__info-description {
    font-size: var(--small-font-size);
  }
  .profile__buttons {
    column-gap: 2rem;
  }

  .projects__content {
    gap: 2rem 3rem;
  }
  .projects__modal {
    padding: 1.5rem;
  }

  .skills__title {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .skills__data {
    display: flex;
    column-gap: .5rem;
  }
  
  .skills__data i {
    font-size: 2rem;
    color: var(--first-color);
  }
  
  .skills__name {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 18px;
  }
  
  .skills__level {
    font-size: 1rem;
  }
  .filters__button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--title-color);
    font-size: 1.1rem;
    font-family: var(--body-font);
    font-weight: 500;
    border-radius: .75rem;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
  }
  .footer__copy {
    margin: 4.5rem 0 2.5rem;
  }
}
